@import 'tailwindcss';

@theme {
    --color-gold: oklch(0.7 0.15 85);
    --color-teal: oklch(0.5 0.09 195);

    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-muted: var(--color-muted);
    --color-surface: var(--color-surface);
    --color-edge: var(--color-edge);
}

@layer base {
    :root {
        --color-primary: oklch(1 0 0);
        --color-secondary: oklch(0.15 0.01 270);
        --color-muted: oklch(0.55 0 0);
        --color-surface: oklch(0.95 0 0);
        --color-edge: oklch(0.9 0 0);

        @media (prefers-color-scheme: dark) {
            --color-primary: oklch(0.15 0.01 270);
            --color-secondary: oklch(1 0 0);
            --color-muted: oklch(0.55 0 0);
            --color-surface: oklch(0.1 0.01 270);
            --color-edge: oklch(0.55 0 0);
        }
    }
}
